[Desktop Entry]
Type=Application
Name=iwgtk
Comment=Wireless network management utility
Exec=iwgtk -i
Icon=iwgtk
Categories=GTK;Settings;HardwareSettings;
Terminal=false
NoDisplay=true
